:root {
  /* Colors -----------------------------------> */
  --background: pink;
  --font-color: white;
  /* <----- -----> */
}

html, body{
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--font-color);
  font-family: 'sf-regular', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p, li, figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

.italic {
  font-style: italic;
}

abbr {
  border-bottom: none !important;
  text-decoration: none !important;
}

img {
  border-style: none;
}

@media (min-width: 375px){
}

@media (min-width: 390px){
}

@media (min-width: 414px){
}

@media (min-width: 768px){
}

@media (min-width: 810px){
}

@media (min-width: 1280px){
}

@media (min-width: 1366px){
}

@media (min-width: 1440px){
}

@media (min-width: 1536px){
}

@media (min-width: 1600px){
}

@media (min-width: 1920px){
}

@media (min-width: 2560px){
}